*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}
body{
    height: 100vh;
}
nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: rgb(46, 46, 46);
    padding: 40px 0 40px 1%;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir >i{
    color:#ffffff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 3%;
    display:flex;
    line-height: 25px;
}
ul li.item-menu a .txt-link{
    margin-left: 20px;
    
}
ul li.item-menu a .icon >i{
    font-size: 25px;


}